body {
    padding: 0;
}

.flex-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.on-screen{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#timer{
    
}

.button{
 margin: 5px 5px;
 padding: 5px 5px;
 background-color: aqua;
 border-radius: 8%;
 text-decoration: none;
 color: black;
}

.button:hover{
    background-color: blue;
    color: white;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: left;
    list-style-type: none;
    text-align: left;
}